<%= form_for(@author) do |f| %>
  <% if @author.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@author.errors.count, "error") %> prohibited this author from being saved:</h2>

      <ul>
      <% @author.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <ul>
    <li><%= f.label :name %></li>
    <li><%= f.text_field :name %></li>
    <li><%= f.label :email %></li>
    <li><%= f.email_field :email %></li>
    <li><%= f.label :password %></li>
    <li><%= f.password_field :password %></li>
    <li><%= f.label :password_confirmation %></li>
    <li><%= f.password_field :password_confirmation %></li>
    <li><%= f.label :bio %></li>
    <li><%= f.text_area :bio %></li>
  </ul>

  <div class="actions">
    <%= f.submit "Submit!" %>
  </div>
<% end %>
