<%= form_for(@author) do |f| %>
  <% if @author.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@author.errors.count, "error") %> prohibited this author from being saved:</h2>

      <ul>
      <% @author.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <ul>
      <li>
        <%= f.label :name %>
        <%= f.text_field :name %>
      </li>
      
      <li>    
      <%= f.label :image %>
      <%= f.text_field :image %>
      </li>
      
      <li>
        <%= f.label :email %>
        <%= f.email_field :email %>
      </li>
      
      <li>
        <%= f.label :password %>
        <%= f.password_field :password %>
      </li>
      
      <li>
        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation %>
      </li>
      
      <li>
        <%= f.label :bio %>
        <%= f.text_area :bio %>
      </li>
      
      <li>
        <%= f.submit %>
      </li>
    </ul>
  </div>
<% end %>
